<%= form_for @user_group do |f| %>
  <div class="input-group">
    <%= f.label :name, class: 'input-group-addon' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
